<!-- form_line.html -->
<div class="form-line" id="form-line-{{ line_number }}">

            <label for="cakes">More :</label>
  <select id="cakes" name="cakes">
    <option value="Tall Cake">Tall Cake</option>
    <option value="Cup Cake">Cup cake</option>
    <option value="Cheesecake">Cheesecake</option>
    <option value="Loaves">Loaves</option>
  </select>

              <br>
            <label>how many?:</label>

    <input type="number" name="field2">
    <button type="button" class="btn btn-danger remove-line">-</button>
</div>